mj-section(background-color="#dfdfdf" padding="20px 30px")
    mj-column(width="35%")
        mj-image(padding="0" width="480px" src="https://i.ibb.co/XZnfFvc/alexW.jpg")
    mj-column(width="65%")
        mj-text(align="center" padding-bottom="0" mj-class="T+4 cT+1") Présentation du #[span(style="font-weight:700;") métier] de #[span(style="font-weight:700;") steward] et d'#[span(style="font-weight:700;") hôtesse de l'air]
        //-mj-text(align="center" padding="5px 0" mj-class="T cT+1") 
        mj-social(align="left" padding-top="0" padding-bottom='0' icon-size="50px" mj-class="T cT+1" mode="horizontal")
            mj-social-element(src="https://i.ibb.co/X8kT5YX/air-France.jpg" alt="logo") samedi 25 janvier<br> #[span(style="font-weight:700;color:#14141f") de 11h à 12h]
        mj-text(padding="5px 25px" mj-class="T cT+0" ) Rejoignez-nous pour un aperçu du métier de steward et d'hôtesse de l'air par #[span(style="font-weight:700;color:#14141f;") Alexandre Walleart, chef de cabine chez Air France] depuis plus de vingt ans.
        mj-text(padding="5px 25px" mj-class="T cT+0" ) Venez découvrir ce métier passionnant et poser vos questions à un professionnel expérimenté. Nous vous attendons nombreux !
