mj-section(mj-class="bg+1" padding="20px 30px")
    mj-column(width="12%" padding="10px")
        mj-image(align="left" padding="0" width="80px" src="https://i.ibb.co/X8kT5YX/air-France.jpg" alt="logo Air France")
    mj-column(width="88%" padding="10px")
        mj-text(align="left" padding="0px" mj-class="T" color="#ffffff") samedi 25 janvier de 14h à 17h
        mj-text(align="left" padding="0px" mj-class="T+4" color="#ffffff") Point d'information : #[span(style="font-weight:700;") Steward et hôtesse de l'air].
        mj-text(align="left" padding="0px" mj-class="T" color="#ffffff") En entretien individuel, une #[span(style="font-weight:700;") hôtesse de l'air d'Air France] sera présente pour partager son expérience et répondre à vos questions.