mj-section(background-color="#ffffff" padding="20px 30px")
    mj-column
        mj-text(align="center" mj-class="T+4 cT+1") Découverte du métier de steward et d'hôtesse de l'air
        mj-text(align="center" padding="5px 0" mj-class="T cT+0") samedi 25 janvier de 11h à 12h
        mj-text(padding="5px 0" mj-class="T cT+0") Rejoignez-nous pour une découverte du métier de steward et d'hôtesse de l'air par Alexandre Walleart, chef de cabine chez Air France depuis plus de vingt ans.
        mj-text(padding="5px 0" mj-class="T cT+0") Venez découvrir ce métier passionnant et poser vos questions à un professionnel expérimenté. Nous vous attendons nombreux !
