//-formation
mj-section(background-color="#ffffff" padding-top="0")
    mj-column
        mj-text(align="center" mj-class="T+4 cT+1") Nos Formations Tourisme
        mj-divider(border-color="#14141f" border-style="solid" border-width="0.75px" width="160px")
//-BTS Tourisme
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" fluid-on-mobile="true" width="480px" src="https://i.ibb.co/V9hbLyX/bts-Tourisme.jpg" alt="Préparation au CCA Cabin Crew Attestation")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom="0" letter-spacing='-1px') BTS #[span(style="font-weight:400;") Tourisme]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-Bac,
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage],
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 2 ans],
        mj-text(mj-class='T cT+0' padding="0 25px") Taux de réussite (2023) : #[span(style="font-weight:700;color:#14141f;") 63%],
        mj-text(mj-class='T cT+0' padding="0 25px") Plus : #[span(style="font-weight:700;color:#14141f;") Préparation au CCA] (Cabin Crew Attestation),
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO.
        mj-spacer(css-class="espace")
//-Bachelor Tourisme
mj-section(background-color="#ffffff" padding="0" direction="rtl")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" fluid-on-mobile="true" width="480px" src="https://i.ibb.co/C144F69/bachelor-Tourisme.jpg" alt="Préparation d'un périple pour un client")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom='0') Bachelor #[span(style="font-weight:400") Chargé(e) de gestion commerciale en Tourisme]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-BTS,
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage] ,
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 1 an],
        mj-text(mj-class='T cT+0' padding="0 25px") Taux de réussite (2023) : #[span(style="font-weight:700;color:#14141f;") 100%],
        mj-text(mj-class='T cT+0' padding="0 25px") Plus : #[span(style="font-weight:700;color:#14141f;") Semaine Travel week] semaine immersive en mobilité internationale,
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO.
        mj-spacer(css-class="espace")
//-Mastère Tourisme
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" fluid-on-mobile="true" width="480px" src="https://i.ibb.co/fnBWHtd/mastere-Tourisme.jpg" alt="Jeune femme travaillant dans une agence de voyage")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom="0" letter-spacing="-1px") Mastère #[span(style="font-weight:400;") Management stratégique des entreprises du tourisme]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-Bachelor,
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage],
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 2 ans],
        mj-text(mj-class='T cT+0' padding="0 25px") Taux de réussite (2023) : #[span(style="font-weight:700;color:#14141f;") 100%],
        mj-text(mj-class='T cT+0' padding="0 25px") Plus : #[span(style="font-weight:700;color:#14141f;") Double certification internationale],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO.
        mj-spacer(css-class="espace")
