mj-section(mj-class="bg+1" padding-top="0" padding-bottom="20px" padding-left="30px" padding-right="30px")
    mj-column(width="12%" padding="10px")
        mj-image(align="left" css-class="hidden" padding="0" width="80px" src="https://i.ibb.co/X8kT5YX/air-France.jpg" alt="logo Air France")
    mj-column(width="88%" padding="10px")
        mj-text(align="left" padding="0px" mj-class="T" color="#ffffff") samedi 25 janvier à 11h
        mj-text(align="left" padding="0px" mj-class="T+4" color="#ffffff") Conférence : le #[span(style="font-weight:700;") Métier de Steward et d'hôtesse de l'air].
        mj-text(align="left" padding="0px" mj-class="T" color="#ffffff") avec #[span(style="font-weight:700;") Alexandre Wallaert], chef de Cabine à Air France
