//-formation
//-BTS Professions Immobilière
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" width="481px" src="images/01hotellerie.jpg" alt="")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom="0" letter-spacing='-1px') BTS #[span(style="font-weight:400;") Professions immobilières]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-Bac
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage],
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 2 ans],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO,
        mj-spacer(css-class="espace")
//-Bachelor Assurance
mj-section(background-color="#ffffff" padding="0" direction="rtl")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" width="481px" src="images/02tourisme.jpg" alt="")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom='0') BTS #[span(style="font-weight:400") Management commercial opérationnel]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-Bac
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage] ,
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 2 ans],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO,
        mj-spacer(css-class="espace")
//-Mastère Assurance
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" width="481px" src="images/03commerce.jpg" alt="")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom="0" letter-spacing="-1px") Bachelor #[span(style="font-weight:400;") Responsable en développement commercial]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-BTS
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage] ,
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 1 ans],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO,
        mj-spacer(css-class="espace")
