//-formation
mj-section(background-color="#ffffff" padding-top="0")
    mj-column
        mj-text(align="center" mj-class="T+4 cT+1") Nos Formations Commerce et Immobilier
        mj-divider(border-color="#14141f" border-style="solid" border-width="0.75px" width="160px")
//-BTS Professions Immobilière
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" fluid-on-mobile="true" width="480px" src="https://i.ibb.co/CVYJ2yj/bts-Immobilier.jpg" alt="achat d'appartement ou de maison sur plan en compagnie du conseiller de l'agence")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom="0" letter-spacing='-1px') BTS #[span(style="font-weight:400;") Professions immobilières]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-Bac,
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage],
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 2 ans],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO.
        mj-spacer(css-class="espace")
//-Bachelor Assurance
mj-section(background-color="#ffffff" padding="0" direction="rtl")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" fluid-on-mobile="true" width="480px" src="https://i.ibb.co/yQSRJtk/bts-Commerce.jpg" alt="Étudiant en apprentissage chez Jeff de Bruges à Tourcoing")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom='0') BTS #[span(style="font-weight:400") Management commercial opérationnel]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-Bac,
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage] ,
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 2 ans],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO.
        mj-spacer(css-class="espace")
//-Mastère Assurance
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" fluid-on-mobile="true" width="480px" src="https://i.ibb.co/b5LXDVP/bachelor-Commerce.jpg" alt="Gestion des magasins et étude des chiffres des ventes")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom="0" letter-spacing="-1px") Bachelor #[span(style="font-weight:400;") Responsable en développement commercial]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-BTS,
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage] ,
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 1 an],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO.
        mj-spacer(css-class="espace")
