//-formation
mj-section(background-color="#ffffff" padding-top="0")
    mj-column
        mj-text(align="center" mj-class="T+4 cT+1") Nos formations Hôtellerie/Restauration
        mj-divider(align="center" border-color="#14141f" border-style="solid" border-width="0.75px" width="160px")
//-Man
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" fluid-on-mobile="true" width="480px" src="https://i.ibb.co/qnD33GC/man-Hotellerie.jpg" alt="formation en cuisine pour acquérir les bases de la restauration et de l'hôtellerie")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom="0" letter-spacing='-1px') MAN #[span(style="font-weight:400;") Mise à niveau]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-Bac,
        mj-text(mj-class="T cT+0" padding="0 25px") Formation #[span(style="font-weight:700;color:#14141f;") initiale],
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 1 an],
        mj-text(mj-class="T cT+0" padding="0 25px") Taux de réussite (2023) : #[span(style="font-weight:700;color:#14141f;") 100%],
        mj-text(mj-class='T cT+0' padding="0 25px") Plus : #[span(style="font-weight:700;color:#14141f;") Bourse Ecosup], obtenue selon critères,
        mj-text(mj-class="T cT+0" padding="0 25px") Financement à la charge de l'Étudiant.
        mj-spacer(css-class="espace")
//-BTS Hotellerie
mj-section(background-color="#ffffff" padding="0" direction="rtl")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" fluid-on-mobile="true" width="480px" src="https://i.ibb.co/Yj220Xz/bts-Hotellerie.jpg" alt="Formation aux services en hôtellerie")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom='0') BTS #[span(style="font-weight:400") Management hôtellerie/restauration]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-Bac,
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage],
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 2 ans],
        mj-text(mj-class="T cT+0" padding="0 25px") Taux de réussite (2023) : #[span(style="font-weight:700;color:#14141f;") 87%],
        mj-text(mj-class='T cT+0' padding="0 25px") Plus : #[span(style="font-weight:700;color:#14141f;") diplôme reconnu par l'État],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO.
        mj-spacer(css-class="espace")
//-Bachelor Hotellerie
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" fluid-on-mobile="true" width="480px" src="https://i.ibb.co/jJPQsCy/bachelor-Hotellerie.jpg" alt="Dans les bureaux de Best Western, on élabore les stratégies commerciales de demain")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom="0" letter-spacing="-1px") Bachelor #[span(style="font-weight:400;") Chargé(e) de gestion commerciale en hôtellerie]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-BTS,
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage],
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 1 an],
        mj-text(mj-class="T cT+0" padding="0 25px") Taux de réussite (2023) : #[span(style="font-weight:700;color:#14141f;") 100%],
        mj-text(mj-class='T cT+0' padding="0 25px") Plus : #[span(style="font-weight:700;color:#14141f;") Semaine Travel week] semaine immersive en mobilité internationale,
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO.
        mj-spacer(css-class="espace")
//-Mastère Hotellerie
mj-section(background-color="#ffffff" padding="0" direction="rtl")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" fluid-on-mobile="true" width="480px" src="https://i.ibb.co/0ZvRcRn/master-Hotellerie.jpg" alt="Le directeur de l'établissement explique aux salariés les nouvelles directives")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom='0') Mastère #[span(style="font-weight:400") Management hôtellerie/restauration]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-Bachelor,
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage],
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 2 ans],
        mj-text(mj-class="T cT+0" padding="0 25px") Taux de réussite (2023) : #[span(style="font-weight:700;color:#14141f;") 100%],
        mj-text(mj-class='T cT+0' padding="0 25px") Plus : #[span(style="font-weight:700;color:#14141f;") double certification internationale],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO.
        mj-spacer(css-class="espace")
