mj-section(mj-class="bg+1" padding-top="0" padding-bottom="20px" padding-left="30px" padding-right="30px")
    mj-column(width="20%" padding="10px")
        mj-image(align="left" css-class="hidden" padding="0" width="100px" src="https://i.ibb.co/PQFZrCW/logo-trading-game.jpg" alt="logo du jeu Trading Game Ecosup Assurance")
    mj-column(width="80%" padding="10px")
        mj-text(align="left" padding="0px" mj-class="T" color="#ffffff") Trading Game ECOSUP Assurance
        mj-text(align="left" padding="0px" mj-class="T+4" color="#ffffff") Créez un #[span(style="font-weight:700;") portefeuille d'actions] et obtenez le meilleur rendement!
        mj-text(align="left" padding="0px" mj-class="T+1" color="#ffffff") de Nombreux lots à Gagner !!!
