//- mj-section(background-color='#4A5568' padding='0')
mj-section(background-color='#bfbfbf' padding='10px 20px')
    mj-column
        mj-text(align="center" mj-class="T+4 cT+1") Entreprises partenaires
        mj-divider(border-color="#14141f" border-style="solid" border-width="0.75px" width="160px")
mj-section(background-color='#bfbfbf' padding-top='0' padding-bottom="20px" padding-left="60px" padding-right="60px")
    mj-group(width='450px')
        //-mj-column(width='25%' vertical-align='middle')
            mj-image(padding='0' border='0' width='50px' align='center' src='https://i.ibb.co/1TX5zLW/lg-ESA112024.png' alt='logo ESA (École Supérieure d\'Assurances)')/
        mj-column(width="33.333333%" vertical-align='middle')
            mj-image(padding='0' border='0' width='120px' align='center' src='https://i.ibb.co/HGs67PM/lg-AGEA112024.png' alt='logo AGEA (Agent Général d\'Assurance)')/
        mj-column(width="33.333333%" vertical-align='middle')
            mj-image(padding='0' border='0' width='100px' align='center' src='https://i.ibb.co/9WmCPHs/lg-Grafton112024.png' alt='logo Graphton recrutement')/
        mj-column(width="33.333333%" vertical-align='middle')
            mj-image(padding='0' border='0' width='50px' align='center' src='https://i.ibb.co/MhjdcT8/Logo-BNIculturebusiness.png' alt='logo BNI culture business')/
            
            