mjml
    //- Head
    mj-head
        mj-title Jpo 25012025
        mj-font(name='Roboto' href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap')
        mj-raw.
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='Roboto, Arial, Helvetica,sans serif')/
            mj-class(name='T+3' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='36px' line-height='36px' font-weight='900')/
            mj-class(name='T+2' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='24px' line-height='28px' font-weight='700')/
            mj-class(name='T+4' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='24px' line-height='28px' font-weight='400')/
            mj-class(name='T+1' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='16px' line-height='20px' font-weight='700')/
            mj-class(name='T' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='16px' line-height='20px' font-weight="400")/
            mj-class(name='T-1' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='13px' line-height='15px' font-weight="400")/
            mj-class(name='T-2' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='12px' line-height='16px' font-weight="400")/
            //- couleurs modifiables
            mj-class(name="cT+1" color="#14141f" border-color="#14141f")/
            mj-class(name="cT+0" color="#626262")/
            mj-class(name="c+1" color="#ec6608")/
            mj-class(name="bg+1" background-color="#ec6608")/
        mj-breakpoint(width="480px")
        mj-style.
            @media(max-width:480px){
                .espace{
                    height:60px !important;
                }
            }
    //- Body
    mj-body(background-color='#efefef')
        //- content
        block content
        mj-section(mj-class="bg+1" border-radius="3px 3px 0 0" padding="20px 30px")
            mj-column
                mj-image(align="left" padding="0" border="none" width="120px" src="https://i.ibb.co/wwWg6s3/logo-Commerce-Blanc.png" alt="logo Ecosup Commerce")
        //- bloc header
        block header
            include ../includes/commerce/_header
        //- bloc text argumentaires
        block argumentaires
            include ../includes/_argumentaires
        //- bloc button
            block button
            include ../includes/tourisme/_button
        mj-section(background-color="#ffffff" padding="0")
            mj-column
                mj-spacer(height="30px")
        //- bloc formations
        block formations
            include ../includes/commerce/_formations
        mj-section(background-color="#ffffff" padding="0")
            mj-column
                mj-spacer(height="20px")
        //- bloc partenaire
        block partenaire
            include ../includes/commerce/_partenaire
        //- bloc certificateur
        block certificateur
            include ../includes/commerce/_certificateur
        //- bloc footer
        block footer
            include ../includes/_footer