//-formation
mj-section(background-color="#ffffff" padding-top="0")
    mj-column
        mj-text(align="center" mj-class="T+4 cT+1") Nos formations secrétaire médical(e)
        mj-divider(align="center" border-color="#14141f" border-syle="solid" border-width="0.75px" width="160px") 
//-SM alternance
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" width="481px" src="images/01hotellerie.jpg" alt="")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom="0" letter-spacing='-1px') SM #[span(style="font-weight:400;") Secrétaire médical(e)]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-Bac
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage],
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 18 mois],
        mj-text(mj-class='T cT+0' padding="0 25px") Taux de réussite (2022-2023) : #[span(style="font-weight:700;color:#14141f;") 59%],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO,
        mj-spacer(css-class="espace")
//-SM initiale
mj-section(background-color="#ffffff" padding="0" direction="rtl")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" width="481px" src="images/02tourisme.jpg" alt="")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom='0') SM #[span(style="font-weight:400") Secrétaire médical(e)]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-Bac
        mj-text(mj-class="T cT+0" padding="0 25px") Formation #[span(style="font-weight:700;color:#14141f;") initiale] ,
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 8 mois],
        mj-text(mj-class='T cT+0' letter-spacing="-1px" padding="0 25px") Taux de réussite (2022-2023) : #[span(style="font-weight:700;color:#14141f;") 85%],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement à la charge de l'Étudiant,
        mj-spacer(css-class="espace")
