//-extends templates/_assurance
//-extends templates/_commerce
//-extends templates/_dietetique
//-extends templates/_hotellerie
//-extends templates/_tourisme
extends templates/_supveto
block content