//-formation
mj-section(background-color="#ffffff" padding-top="0")
    mj-column
        mj-text(align="center" mj-class="T+4 cT+1") Nos formations Petite Enfance
        mj-divider(align="center" border-color="#14141f" border-width="0.75px" border-style="solid" width="160px")
//- Petite enfance alternance
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" width="481px" src="images/01hotellerie.jpg" alt="")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom="0" letter-spacing='-1px') CAP #[span(style="font-weight:400;") Accompagnant(e) Éducatif Petite Enfance]
        mj-text(mj-class="T cT+0" padding="0 25px") Avec ou sans diplôme,
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage],
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 1 an],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO.
        mj-spacer(css-class="espace")
//- Petite enfance initiale
mj-section(background-color="#ffffff" padding="0" direction="rtl")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" width="481px" src="images/02tourisme.jpg" alt="")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom='0') CAP #[span(style="font-weight:400") Accompagnant(e) éducatif petite enfance ]
        mj-text(mj-class="T cT+0" padding="0 25px") Avec ou sans diplôme,
        mj-text(mj-class="T cT+0" padding="0 25px") Formation #[span(style="font-weight:700;color:#14141f;") initiale] ,
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 1 an],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement à la charge de l'étudiant.
        mj-spacer(css-class="espace")