//-formation
//-ASV supveto
mj-section(background-color="#ffffff" padding-top="0")
    mj-column
        mj-text(align="center" mj-class="T+4 cT+1") Nos formations Santé animale
        mj-divider(align="center" border-color="#14141f" border-style="solid" border-width="0.75px" width="160px")
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" fluid-on-mobile="true" width="480px" src="https://i.ibb.co/9HvLwcw/asv-Supveto.jpg" alt="Accueil des animaux : chiens, chats et autres...")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom="0" letter-spacing='-1px') ASV #[span(style="font-weight:400;") Auxiliaire de Service Vétérinaire]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-Bac,
        mj-text(mj-class="T cT+0" padding="0 25px") Formation #[span(style="font-weight:700;color:#14141f;") initiale],
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 24 mois],
        mj-text(mj-class='T cT+0' padding="0 25px") Taux de réussite (2022-2023) : #[span(style="font-weight:700;color:#14141f;") 98%],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement à la charge de l'Étudiant.
        mj-spacer(css-class="espace")
//-Bachelor Supveto
mj-section(background-color="#ffffff" padding="0" direction="rtl")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" fluid-on-mobile="true" width="480px" src="https://i.ibb.co/8gGTnL0/bachelor-Supveto.jpg" alt="Premiers soins aux chats et chiens")
    mj-column(width="50%" vertical-align="middle")
        mj-text(mj-class="T+2 cT+1" padding-bottom='0') Bachelor #[span(style="font-weight:400") Chargé(e) de gestion et management en structure animalière ]
        mj-text(mj-class="T cT+0" padding="0 25px") Post-BTS,
        mj-text(mj-class="T cT+0" padding="0 25px") Formation en #[span(style="font-weight:700;color:#14141f;") apprentissage] ,
        mj-text(mj-class="T cT+0" padding="0 25px") Durée : #[span(style="font-weight:700;color:#14141f;") 18 mois],
        mj-text(mj-class='T cT+0' letter-spacing="-1px" padding="0 25px") Taux de réussite (2022-2023) : #[span(style="font-weight:700;color:#14141f;") 100%],
        mj-text(mj-class="T cT+0" padding="0 25px") Financement pris en charge par l'OPCO.
        mj-spacer(css-class="espace")
